"""Main module."""
import uvicorn
from fastapi import FastAPI
{% if use_versionizer -%}
from fastapi_versionizer.versionizer import Versionizer
{% endif %}
{% if use_database_migrations -%}
from . import database
{% endif -%}
from .api.routers import router

app = FastAPI(
    title="{{ project_name }}",
    summary="{{ project_description }}",
    contact={
        "name": "SourceCode {{ repository_provider }} repository",
        "url": "{{ repository_url }}"
    },
)

app.include_router(router)
{% if use_versionizer %}
versions = Versionizer(
    app=app,
    prefix_format="/v{major}",
    semantic_version_format="{major}",
    latest_prefix="/latest",
    sort_routes=True
).versionize()
{% endif %}

@app.get("/healthcheck", include_in_schema=True)
async def healthcheck() -> dict[str, str]:
    """Healthcheck endpoint."""
    return {"status": "ok"}


def main() -> None:
    """Main function."""
    uvicorn.run(app, host="0.0.0.0")  # nosec


if __name__ == "__main__":
    {% if use_database_migrations -%}
    database.apply_migrations()
    {% endif -%}
    main()
